/* Relatively simplistic layout, no need to get fancy */

/* Establish header, likely similar to mockup, view highscores button, timer */
/* space-between? Maybe pad or margin from the edges of the viewport? */

/* Mobile Friendly (mobile first?), generally one column per, media queries -- refer to past work */

/* Possible footer elements? */
body {
  background-color: rgba(0, 0, 0, 0.384);
}

.headContainer {
  display: flex;
  flex-direction: row;
  text-align: center;
  font-size: 24px;
  border-bottom: solid 5px rgb(0, 110, 255);
}

#showHigh {
  background-color: black;
  color: white;
  flex: 50%;
  padding: 5px 0 5px 0;
  border: solid 4px antiquewhite;
  border-right: solid 2px antiquewhite;
  border-left: solid 4px antiquewhite;
  font-family: monospace, Courier, 'Courier New';
}

#timer {
  background-color: black;
  color: white;
  flex: 50%;
  padding: 5px 0 5px 0;
  border: solid 4px antiquewhite;
  border-left: solid 2px antiquewhite;
  border-right: solid 4px antiquewhite;
  font-family: monospace, Courier, 'Courier New';
}

.quiz-container {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: lightblue;
  padding: 25px 25px 15px 25px;
  margin: 0 auto 0 auto;
  text-align: left;
  width: 100%;
  border: ridge 4px silver;
}

.quizQs {
  display: flex;
  position: relative;
  padding: 5px 0 0 0;
  text-align: left;
}

.start {
  margin: 10px 0 0 0;
  font-size: 20px;
}

/* Make media queries, slould try to build mobile first */
@media screen and (min-width: 768px) {

  .headContainer {
    display: flex;
    flex-direction: row;
    text-align: center;
    font-size: 24px;
    border-bottom: solid 5px rgb(0, 110, 255);
  }
  
  #showHigh {
    background-color: black;
    color: white;
    flex: 50%;
    padding: 5px 0 5px 0;
    border: solid 4px antiquewhite;
    border-right: solid 2px antiquewhite;
    border-left: solid 4px antiquewhite;
    font-family: monospace, Courier, 'Courier New';
  }
  
  #timer {
    background-color: black;
    color: white;
    flex: 50%;
    padding: 5px 0 5px 0;
    border: solid 4px antiquewhite;
    border-left: solid 2px antiquewhite;
    border-right: solid 4px antiquewhite;
    font-family: monospace, Courier, 'Courier New';
  }
  
  .quiz-container {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: lightblue;
    padding: 25px 25px 15px 25px;
    margin: 15rem auto 0 auto;
    text-align: left;
    width: 50%;
    border: ridge 4px silver;
  }
  
  .quizQs {
    display: flex;
    position: relative;
    padding: 5px 0 0 0;
    text-align: left;
  }
  
  .start {
    margin: 10px 0 0 0;
    font-size: 20px;
  }

}